.root {
  display: flex;
  row-gap: 4px;
  z-index: 20;
  flex-direction: column;
}

.li {
  overflow: hidden;
}

.listAnchor {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
