.root {
  display: flex;
  row-gap: 4px;
  z-index: 20;
  flex-direction: column;
}

.li {
  overflow: hidden;
}

.liButton {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
