.root {
  position: relative;
}

.headerWrapper {
  background-color: var(--background);
  position: sticky;
  top: 0;
  z-index: 20;
}

.mainWrapper {
  padding: 12px;
  position: relative;
  z-index: 10;
}
