.root {
  background-color: var(--secondary-background);
  position: relative;
  padding: 8px;
  display: grid;
  row-gap: 8px;
}

.header {
  position: relative;
  z-index: 20;
  pointer-events: none;
}

.ul {
  display: grid;
  row-gap: 4px;
  z-index: 20;
}

.li {
  overflow: hidden;
}

.liButton {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cellButton {
  position: absolute;
  inset: 0;
  z-index: 10;
}
