.root {
  display: grid;
  row-gap: 8px;
}

.ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 140px;
  gap: 1px;
  background-color: var(--foreground);
  padding: 1px;
}
